{% extends 'menu.html' %}

{% block title %}Posto Saúde Virtual{% endblock %}

{% block content %}
<style>
    .form-busca{
        margin-top: 1em;
    }
    #botao-pesquisa{
        background-color: #051775;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    table {
        background-color: #051775;
    }
    thead {
        color:white;
    }
    tbody {
        color:white;
    }
    h1 {
        color: #051775;
        font-size: 20pt;
    }
    .bi-pencil-square{
        color: black;
    }
    .bi-trash3{
        color: black;

    }
    #novo{
        position: absolute;
        left: 85%;
    }
    .table-responsive{
        margin-top: 5%;
    }
        

</style>

<form action="" method="get" class="form-busca">
    <img class="atendente-img" src="https://i.ibb.co/HBfdmsj/atendente.png"/>
    <input type="text" name="nome" placeholder="Buscar por nome" id="busca">
    <button id="botao-pesquisa" class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<div class="table-responsive">
    <h1> <center><b>Lista de Médicos</b></center></h1>
    <br>
    <table class="table table-blue table-sm">
        
        <thead>
            <tr>
                <th>Nome</th>
                <th>CRM</th>
                <th>Especialização</th>
                <th>Turno</th>
            </tr>
        </thead>
        <tbody>
            {% for medico in object_list %}
            <tr>
                <td>{{ medico.nome_completo }}</td>
                <td>{{ medico.crm }}</td>
                <td>{{ medico.especializacao }}</td>
                <td>{{ medico.turno }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>    
{% endblock %}