{% extends 'base.html' %}

{% load static %}

{% block title %}<title>Página de Agendamento</title>{% endblock %}

{% block conteudo %}
<body>
<link rel="stylesheet" href="{% static 'css/agendar_form.css' %}">
    <div class="agendamento">
        <form method="post">
            <div class="atendenteAg">
                <header class="header-atendente">
                    <img class="atendente-img" src="{% static 'img/atendente.png' %}">
                  <span><strong id="atendente-voice">&nbsp; Preencha os dados abaixo<i class="fa-solid fa-volume-high" id="sound"></i></strong></span>
                </header>
            </div>
            {% csrf_token %}
            {{ form.as_p }}
            

            <center><button class="btn btn-success" id="agendar" type="submit">Agendar</button></center>
        </form>
        
        
    </div>
</body>
{% endblock %}

{% block rodape %} 
{% endblock %} 