{% extends 'base.html' %}

{% block title %}<title>Página de Visualizar Funcionalidades</title>{% endblock %}

{% load static %}

{% block conteudo %}
<link rel="stylesheet" href="{% static 'css/visualizarFuncionalidades.css' %}">
<div class="corpo-img">
    <img src="{% static 'img/todasFuncionalidades.png' %}" id="body-picturef">
</div>
<div class="row">
    <div class="col-3">
      <a href="{% url 'consulta.index' %}">
        <div class="card">
          <img class="card-img" src="{% static 'img/agendamentoConsulta.png' %}">
        </div>
      </a>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/visualizarExames.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/atendimentoVirtual.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/medicamentosDisponiveis.png' %}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/requisitarVisitasDomicilio.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/localizacao.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/secaoPerguntas.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
       <img class="card-img" src="{% static 'img/chatOnline.png' %}">
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/fazerSicronizacaoSus.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/gerarDeclaracao.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/formulariosOnline.png' %}">
      </div>
    </div>
    <div class="col-3">
      <div class="card">
        <img class="card-img" src="{% static 'img/visualizarAgenda.png' %}">
      </div>
    </div>
</div>
{% endblock %}