{% extends 'menu.html' %}

{% block title %}Posto Saúde Virtual{% endblock %}

{% block content %}
<style>
    .form-busca{
        margin-top: 1em;
    }
    #botao-pesquisa{
        color: #051775;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    table {
        background-color: #051775;
    }
    thead {
        color:black;
    }
    tbody {
        color: black;
    }
    h1 {
        color: #051775;
        font-size: 20pt;
    }
    .bi-pencil-square{
        color: black;
    }
    .bi-trash3{
        color: black;

    }
</style>

<form action="" method="get" class="form-busca">
    <input type="text" name="cPF" placeholder="Buscar por CPF" id="busca">
    <button id="botao-pesquisa" class="btn btn-outline-success" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
</form>
<button class="btn btn-danger" id="botao-cadastrar-logar-sair-1" type="submit"><a href="{% url 'pessoa.novo' %}">Novo</a></button>
<div class="table-responsive">
    <h1> <center>Lista de informações pessoais</center></h1>
    <table class="table table-primary table-sm">
        
        <thead>
            
            <tr>
                <th>Nº Do Cartão Do SUS</th>
                <th>CPF</th>
                <th>Data De Nascimento</th>
                <th>Endereço</th>
                <th>Número da Residência</th>
                <th>Complemento</th>
                <th>Bairro</th>
                <th>Telefone</th>
                <th>CEP</th>
                <th>Ponto de Referência</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for pessoa in object_list %}
            <tr>
                <td>{{ pessoa.numero_Do_Cartao_Do_SUS }}</td>
                <td>{{ pessoa.cPF }}</td>
                <td>{{ pessoa.data_De_Nascimento|date:"d/m/y" }}</td>
                <td>{{ pessoa.endereco }}</td>
                <td>{{ pessoa.numero_Da_Residencia }}</td>
                <td>{{ pessoa.complemento }}</td>
                <td>{{ pessoa.bairro }}</td>
                <td>{{ pessoa.telefone }}</td>
                <td>{{ pessoa.cEP }}</td>
                <td>{{ pessoa.ponto_De_Referencia }}</td>
                <td>
                    <a href="{% url 'pessoa.editar' pessoa.pk %}"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
                      </svg></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
   
{% endblock %}