.atendente-img {
    height: 10vh;
    border-radius: 100%;
}
#atendente-voice {
    background-color: #051775;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
}
#sound {
    margin: 0.5em;
}
.atendenteAg {
    margin-top: 1em;
}
input {
    width: 100%;
}
#cadastrar {
    margin-left: 10%;
    width: 80%;
    background-color: #66C4F9;
    border-radius: 50px 50px 50px 50px;
}
.btn-success {
    border-color:white;
}
.btn-success:hover {
    background-color: white;
    color: #051775;
    border-color: white;
}