.atendente-img {
    height: 10vh;
    border-radius: 100%;
}
#atendente-voice {
    background-color: #051775;
    color: #ffffff;
    border-radius: 50px 50px 50px 50px;
}
#sound {
    margin: 0.5em;
}
.form-busca {
    margin-top: 1em;
}
#botao-pesquisa {
    background-color: #051775;
}
a {
    text-decoration: none;
    color: #ffffff;
}
table {
    background-color: #051775;
}
thead {
    color:white;
}
tbody {
    color:white;
}
h1 {
    color: #051775;
    font-size: 20pt;
}
.bi-pencil-square {
    color: black;
}
.bi-trash3 {
    color: black;
}
#novo {
    position: absolute;
    left: 85%;
}
.table-responsive{
    margin-top: 5%;
}