{% extends 'menu.html' %}

{% load crispy_forms_tags %}

{% block title %}Posto Saúde virtual{% endblock %}

{% block content %}
<style>
    fieldset {
        border: 1px solid red;
        background-color: #051775;
        border-radius: 50px 50px 50px 50px;
        height: 5vh;
        width: 10vw;
    }
    a {
        text-decoration: none;
        color: #ffffff;
    }
    h1 {
        font-size: 13pt;
        text-align: center;
        margin-top: 0.3em;
    }
    #botao-cadastrar-logar-sair {
        font-size: 13pt;
    }
</style>

<div class="atendente-login">
    <header class="header-atendente">
        <img class="atendente-img" src="https://i.ibb.co/HBfdmsj/atendente.png"/>
      <span><strong id="atendente-voice">&nbsp; Logar neste site<i class="fa-solid fa-volume-high" id="sound"></i></strong></span>
    </header>
</div>
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}


        

        <div class="row">
            <div class="col-6">
                <fieldset>
                    <a href="{% url 'account_signup' %}"><h1>Cadastre-se</h1></a>
                </fieldset>
            </div>
            <div class="col-6">
                <button class="btn btn-success" id="botao-cadastrar-logar-sair" type="submit">Entrar</button>
            </div>
        </div>
    </form>


{% endblock %}